body {
  background-color: black;
  color: white;
  font-family: "Titillium Web", Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: black;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #333;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.nav li {
  display: inline;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: white;
  transition: letter-spacing 0.3s ease;
}

.nav a:hover {
  color: skyblue;
  transition: 0.25s;
  letter-spacing: 3px;
}

.content-box {
  display: flex;
  flex: 1;
  width: fit-content;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.footer {
  background-color: black;
  color: white;
  position: relative;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #333;
  width: 100%;
}
