* {
    font-family: 'Segoe UI', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    padding: 2em;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.header-logo {
    letter-spacing: 3px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    color: white;
    background: none;
}

button:hover {
    color: gray;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 36px;
    font-weight: bold;
    text-decoration: overline;
    letter-spacing: 3px;
    text-decoration-color: navy;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    gap: 1em;
}

.box {
    height: 200px;
    width: 200px;
    background: white;
    transition: 0.4s;
    border: 1px solid black;
    box-shadow: 5px 10px gray;
    cursor: pointer;
}

.box:hover {
    background: black;
    transition: 0.4s;
}

.info-text {
    display: block;
    width: 300px;
}

.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    color: white;
    justify-content: center;
    padding: 1em;
}