* {
    font-family: 'Segoe UI', sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2em;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.header-logo {
    letter-spacing: 3px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2em;
}

a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    color: white;
    background: none;
}

button:hover {
    color: gray;
    cursor: pointer;
}

button:active {
    transform: translateY(3px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    display: flex;
    padding: 2em;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

.box {
    height: 200px;
    width: 200px;
    border: 2px dashed black;
    box-shadow: 5px 10px 10px gray;
}