html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  padding-top: 56px;
}

button {
  cursor: pointer;
}

.app-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1440px) {
  .app-wrapper {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .app-wrapper {
    max-width: 100%;
    box-shadow: none;
  }
}